<div>
  <h1 class="section-header-text">Education</h1>
</div>
<div class="eduSection">
  <label class="date-text education-date">Jan 2016 - Dec 2017</label>
  <div class="econtent">
    <h3 class="subhead-1-text">California University - Fresno</h3>
    <h4 class="subhead-2-text">Computer Science</h4>
    <p class="body-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam, ipsum sint iusto vero temporibus unde harum at
      odio in fuga, eaque commodi voluptate obcaecati dignissimos quae illo officia autem!</p>
  </div>
</div>
<div class="eduSection">
  <label class="date-text education-date">Jan 2014 - Dec 2015</label>
  <div class="econtent">
    <h3 class="subhead-1-text">Fresno University - Fresno</h3>
    <h4 class="subhead-2-text">Diploma</h4>
    <p class="body-text ">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis numquam, ipsum sint iusto vero temporibus unde harum at
      odio in fuga, eaque commodi voluptate obcaecati dignissimos quae illo officia autem!</p>
  </div>
</div>
<div>
  <form class="form">
    <div class="close-modal-btn">
      <i class="fas fa-times close-btn"></i>
    </div>
    <div class="inputs">
      <h4 class="form-input-label eduLabel">Date of Completion</h4>
      <select class="edustartMonth" name="monthEnd">
        <option>MM</option>
        <option>Jan</option>
        <option>Feb</option>
        <option>March</option>
      </select>
      <select class="edustartYear" name="yrEnd">
        <option>YYYY</option>
        <option>2000</option>
        <option>2001</option>
        <option>2002</option>
      </select>
      <input type="text" class="form-input insName" placeholder="Name of Institution">
      <div class="current">
        <input type="checkbox" class="current">
        <label class="form-input-label">Current :</label>
      </div>
      <input type="text" class="form-input study" placeholder="Field of Study">
      <select name="degreeSelect" class="degree" placeholder="Degree">
        <option>Masters</option>
        <option>Under Graduate</option>
        <option>High School</option>
      </select>
      <textarea type="text" class="textarea-styled eduText" maxlength="500" placeholder="Additional info (Optional)"></textarea>
    </div>
    <div class="button-section">
      <button>Save!</button>
    </div>
  </form>
</div>