.mainDiv {
display: flex;
flex-direction: column;
margin: 25px;
}
.social-icons {
    /* border: 1px dashed lime; */
    display: flex;
    justify-content: right;
    margin-bottom: 20px;
}
.social-circle {
    height: 35px;
    width: 35px;
    background-color: rgb(88, 86, 86);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white; 
    margin: 0px 20px;
}
.inputs {
    margin: 15px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    /* grid-template-rows: 1fr 1fr 1fr 1fr 1fr; */
    grid-template-areas: 
    "fname fname fname lname lname lname"
    "title title title title title title"
    "city city state state phone phone"
    "email email email  website website website"
    ". addDesc addDesc addDesc addDesc .";
}
.first-name {
    grid-area: fname;
}
.last-name {
    grid-area: lname;
}
.title {
    grid-area: title;
}

.phone {
    grid-area: phone;
}
.create {
    grid-area: create;
}
.email {
    grid-area: email;
}
.city{
    grid-area: city;
}
.state{
    grid-area: state;
}
.website{
    grid-area: website;
}
.addDesc{
    grid-area: addDesc;
}
strong{
    color:rgba(255,184,8,0.85);
}
.button-section{
    text-align: center;
    padding: 10px 0px 10px 0px;
}
button{
    font-family: 'Montserrat', sans-serif;
    font-size: 13pt;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #fff;
    border: none;
    color: #757575;
    cursor: pointer;
}
.btn{
    text-align: right;
    padding: 5px 5px;

}
.form{
    margin-bottom: 100px;
}
.title-section{
    color: #fff;
    text-align: center;
    width: 100%;
    padding: 20px 0px;
}
.social{
    margin: 25px;
    margin-top: 0px;
}